{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding">
    <div
      class="product-info__image-block{% if section.settings.Full_mobile_width %} product-info__image-block--mobile-full{% endif %} {{ section.settings.visibility }}"
      style="
        margin-top: {{ section.settings.margin_top | divided_by: 10.0 }}rem;
        margin-bottom: {{ section.settings.margin_bottom | divided_by: 10.0 }}rem;
        --image-alignment:{{ section.settings.alignment }};
        --border-radius:{{ section.settings.border_radius | divided_by: 10.0 }}rem;
      "
    >
      <div class="product-info__divider" style="height:{{ section.settings.height }}px;width:{{ section.settings.width }}%;background:{{ section.settings.color }};border-radius:{{ section.settings.border_radius }}px;display:block;">&nbsp</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Divider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#E1E1E1"
    },
    {
      "type": "range",
      "id": "height",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "default": 1
    },
    {
      "type": "range",
      "id": "width",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Width",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "Full_mobile_width",
      "label": "Full container width on mobile",
      "default": false,
      "info": "If enabled & Width is set to 100%, the divider will be edge-to-edge on mobile."
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 5,
      "step": 1,
      "unit": "px",
      "label": "Corner radius",
      "default": 0,
      "info": "Only visible with bigger heights."
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 15
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        { "value": "accent-1", "label": "Accent 1" },
        { "value": "accent-2", "label": "Accent 2" },
        { "value": "background-1", "label": "Background 1" },
        { "value": "background-2", "label": "Background 2" },
        { "value": "inverse", "label": "Inverse" }
      ],
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Divider"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
